*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Arimo', sans-serif;
}

body {
  margin: 10% auto;
  width: 30%;
}

h3 {
  border: 0.01em solid lightgrey;
  border-radius: 10px;
  text-align: center;
  width: 75%;
}

input {
  margin-left: .5em;
  font-size: 1.7em;
  line-height: 1.1em;
  border-radius: 5px;
}

input, h2 {
  display: inline-block;
}

p {
  display: block;
  margin: 10% auto;
  width: 30%;
}
